@font-face {
    font-family: BergenMono;
    src: url(fonts/BergenMono-Regular.woff);
}

body {
    background: #333333;
    color: white;
    font-family: BergenMono;
    max-height: 500px;
    max-width: 500px;
    min-height: 500px;
    min-width: 500px;
}

.container {
    padding: 7px 7px 0px 7px;
    max-height: 500px;
}

#details,
#settings {
    font-size: 0.85em;
    overflow-x: hidden;
    overflow-y: scroll;
}

#details::-webkit-scrollbar,
#settings::-webkit-scrollbar {
    width: 3px;
}

#details::-webkit-scrollbar-track,
#settings::-webkit-scrollbar-track {
    background: none;
}

#details::-webkit-scrollbar-thumb,
#settings::-webkit-scrollbar-thumb {
    background-color: #fefefe;
    border: none;
    border-radius: 25px;
}

td,
th {
    text-align: center;
}

.nav-tabs .nav-link.active {
    background-color: #5f8f8b;
    border: none;
    border-radius: 0px;
    color: white;
}

.nav-tabs .nav-link {
    background-color: #333333;
    border: none;
    border-radius: 0px;
    color: white;
}

.nav-tabs .nav-link:hover {
    background-color: #777777;
    border: none;
    border-radius: 0px;
    color: white;
}

.nav-link.active:hover {
    background-color: #7EA5A2;
}

.checkbox-center {
    margin-top: 4px;
    margin-left: 13px;
}

#view-details {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#view-details:hover {
    color: #5f8f8b;
    text-decoration: none;
}

.dashboard-content {
    transform: translateY(25%);
}

#info-btn {
    background-color: transparent;
    border: none;
    left: 90%;
    position: absolute;
    top: 15%;
}

#info-btn:hover,
#x-btn:hover {
    color: #5f8f8b;
}

#close-btn {
    background-color: #5f8f8b;
    border-color: #5f8f8b;
}

#close-btn:hover {
    background-color: #7EA5A2;
}

#info-btn:focus,
#info-btn:active,
#x-btn:focus,
#x-btn:active,
#close-btn:focus,
#close-btn:active {
    outline: none !important;
    box-shadow: none;
}

.dark-mode {
    background: #333333;
    border-color: white;
}

.water {
    background-color: #363636;
    border-radius: 50%;
    box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, .5), 0 4px 10px 0 rgba(0, 0, 0, .5);
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 200px;
}

.water:before,
.water:after {
    background-color: #fff;
    content: '';
    height: 200px;
    position: absolute;
    top: -70px;
    width: 200px;
}

.water:before {
    animation: wave 5s linear infinite;
    background: rgba(255, 255, 255, .7);
    border-radius: 45%;
}

.water:after {
    animation: wave 5s linear infinite;
    background: rgba(255, 255, 255, .3);
    border-radius: 35%;
}

.water.grade-a {
    background-color: #1D7044;
}

.water.grade-a>.grade {
    color: #BBD4C6;
}

.water.grade-a:after,
.water.grade-a:before {
    top: -190px;
}

.water.grade-b {
    background-color: #75AD6F;
}

.water.grade-b>.grade {
    color: #D5E6D3;
}

.water.grade-b:after,
.water.grade-b:before {
    top: -165px;
}

.water.grade-c {
    background-color: #FFBE00;
}

.water.grade-c>.grade {
    color: #FFD14C;
}

.water.grade-c:after,
.water.grade-c:before {
    top: -80px;
}

.water.grade-d {
    background-color: #FF7E01;
}

.water.grade-d>.grade {
    color: #FFA44D;
}

.water.grade-d:after,
.water.grade-d:before {
    top: -60px;
}

.water.grade-e {
    background-color: #E3071D;
}

.water.grade-e>.grade {
    color: #EB5160;
}

.water.grade-e:after,
.water.grade-e:before {
    top: -40px;
}

.water.grade-f {
    background-color: #363636;
}

.water.grade-f>.grade {
    color: #727272;
}

.water.grade-f:after,
.water.grade-f:before {
    top: -20px;
}

@keyframes wave {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.grade {
    color: black;
    font-family: BergenMono;
    font-size: 5em;
    left: 39%;
    position: absolute;
    top: 20%;
    z-index: 99999;
    user-select: none;
}

.tab-pane {
    max-height: 440px;
}

.tab-content {
    padding-bottom: 40px;
}

.form-check-input:checked {
    background-color: #5f8f8b;
    border-color: #5f8f8b;
}

.heart {
    height: 100px;
    width: 100px;
    background-image: url('../img/heart.png');
    background-repeat: no-repeat;
    background-size: 4000%;
    background-position: 96%;
    float: left;
    position: absolute;
    z-index: 99999;
    left: 40%;
    top: 36%;
}

.heart:hover {
    background-position: right;
}

.animating {
    animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

.col-70 {
    width: 70%
}

.col-10 {
    width: 10%
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23bfbfbf'/%3e%3c/svg%3e");
    border-color: #5f8f8b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 143, 139, 0.6);
}

.form-switch .form-check-input:focus:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}

.icon-link {
    font-size: 0.91em;
}

.info-tooltip:hover {
    color: #5f8f8b;
}

.chrome-setting-checkbox {
    cursor: pointer;
}
