:root {
    --primary: #5F8F8B;
    --primary-hover: #7EA5A2;
    --secondary: #333333;
    --secondary-hover: #777777;
    --white: #FEFEFE;
    --black: #000000;
    --grade-a-primary: #1D7044;
    --grade-a-secondary: #BBD4C6;
    --grade-b-primary: #75AD6F;
    --grade-b-secondary: #D5E6D3;
    --grade-c-primary: #FFBE00;
    --grade-c-secondary: #FFD14C;
    --grade-d-primary: #FF7E01;
    --grade-d-secondary: #FFA44D;
    --grade-e-primary: #E3071D;
    --grade-e-secondary: #EB5160;
    --grade-f-primary: #363636;
    --grade-f-secondary: #727272;
}

@font-face {
    font-family: BergenMono;
    src: url(fonts/BergenMono-Regular.woff);
}

body {
    background: var(--secondary);
    color: var(--white);
    font-family: BergenMono;
    max-height: 500px;
    max-width: 500px;
    min-height: 500px;
    min-width: 500px;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--primary-hover);
}

td,
th {
    text-align: center;
}

th {
    color: var(--primary);
}

.col-10 {
    width: 10%
}

.col-70 {
    width: 70%
}

.container {
    padding: 7px 7px 0 7px;
    max-height: 500px;
}

.tab-pane {
    max-height: 440px;
}

.tab-content {
    padding-bottom: 40px;
}

#dashboard {
    padding-right: 3px;
}

#dashboard,
#details,
#settings {
    padding-left: 3px;
}

#details,
#settings {
    font-size: 0.85em;
    overflow-x: hidden;
    overflow-y: scroll;
}

#details::-webkit-scrollbar,
#settings::-webkit-scrollbar {
    width: 3px;
}

#details::-webkit-scrollbar-track,
#settings::-webkit-scrollbar-track {
    background: none;
}

#details::-webkit-scrollbar-thumb,
#settings::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border: none;
    border-radius: 25px;
}

.nav-tabs .nav-link {
    background-color: var(--secondary);
    border: none;
    border-radius: 0;
    color: var(--white);
}

.nav-tabs .nav-link:hover {
    background-color: var(--secondary-hover);
    border: none;
    border-radius: 0;
    color: var(--white);
}

.nav-tabs .nav-link.active {
    background-color: var(--primary);
    border: none;
    border-radius: 0;
    color: var(--white);
}

.nav-link.active:hover {
    background-color: var(--primary-hover);
}

.dashboard-content {
    transform: translateY(25%);
}

#info-btn {
    background-color: transparent;
    border: none;
    left: 90%;
    position: absolute;
    top: 15%;
}

#info-btn:hover,
#x-btn:hover {
    color: var(--primary);
}

#close-btn {
    background-color: var(--primary);
    border-color: var(--primary);
}

#close-btn:hover {
    background-color: var(--primary-hover);
}

#info-btn:focus,
#info-btn:active,
#x-btn:focus,
#x-btn:active,
#close-btn:focus,
#close-btn:active {
    outline: none !important;
    box-shadow: none;
}

.dark-mode {
    background: var(--secondary);
    border-color: var(--white);
}

.grade {
    color: var(--black);
    font-family: BergenMono;
    font-size: 5em;
    left: 39%;
    position: absolute;
    top: 20%;
    z-index: 99999;
    user-select: none;
}

.water {
    background-color: #363636;
    border-radius: 50%;
    box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, .5), 0 4px 10px 0 rgba(0, 0, 0, .5);
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 200px;
}

.water:before,
.water:after {
    background-color: var(--white);
    content: '';
    height: 200px;
    position: absolute;
    top: -70px;
    width: 200px;
}

.water:before {
    animation: wave 5s linear infinite;
    background: rgba(255, 255, 255, .7);
    border-radius: 45%;
}

.water:after {
    animation: wave 5s linear infinite;
    background: rgba(255, 255, 255, .3);
    border-radius: 35%;
}

.water.grade-a {
    background-color: var(--grade-a-primary);
}

.water.grade-a>.grade {
    color: var(--grade-a-secondary);
}

.water.grade-a:after,
.water.grade-a:before {
    top: -190px;
}

.water.grade-b {
    background-color: var(--grade-b-primary);
}

.water.grade-b>.grade {
    color: var(--grade-b-secondary);
}

.water.grade-b:after,
.water.grade-b:before {
    top: -165px;
}

.water.grade-c {
    background-color: var(--grade-c-primary);
}

.water.grade-c>.grade {
    color: var(--grade-c-secondary);
}

.water.grade-c:after,
.water.grade-c:before {
    top: -80px;
}

.water.grade-d {
    background-color: var(--grade-d-primary);
}

.water.grade-d>.grade {
    color: var(--grade-d-secondary);
}

.water.grade-d:after,
.water.grade-d:before {
    top: -60px;
}

.water.grade-e {
    background-color: var(--grade-e-primary);
}

.water.grade-e>.grade {
    color: var(--grade-e-secondary);
}

.water.grade-e:after,
.water.grade-e:before {
    top: -40px;
}

.water.grade-f {
    background-color: var(--grade-f-primary);
}

.water.grade-f>.grade {
    color: var(--grade-f-secondary);
}

.water.grade-f:after,
.water.grade-f:before {
    top: -20px;
}

@keyframes wave {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

#view-details {
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
}

#view-details:hover {
    color: var(--primary);
    text-decoration: none;
}

.icon-link {
    font-size: 0.91em;
}

.checkbox-center {
    margin-top: 4px;
    margin-left: 13px;
}

#detail-container {
    width: 100%;
}

#detail-container tr {
    line-height: 30px;
}

.info-tooltip:hover {
    color: var(--primary);
}

.profile-btn {
    height: 30px;
    font-size: 12px;
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    color: var(--white);
    background-color: var(--secondary-hover);
    border-color: var(--primary);
}

.btn-outline-primary:checked {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-check:focus+.btn-outline-primary,.btn-outline-primary:focus {
    border-color: var(--primary);
    outline: none !important;
    box-shadow: none;
}

.btn-check:active+.btn-outline-primary,.btn-check:checked+.btn-outline-primary,.btn-outline-primary.active,.btn-outline-primary.dropdown-toggle.show,.btn-outline-primary:active {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-check:active+.btn-outline-primary:focus,.btn-check:checked+.btn-outline-primary:focus,.btn-outline-primary.active:focus,.btn-outline-primary.dropdown-toggle.show:focus,.btn-outline-primary:active:focus {
    border-color: var(--primary);
}

.btn-outline-primary.disabled,.btn-outline-primary:disabled {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
}

label.btn.btn-outline-primary.info-tooltip.profile-custom-label {
    pointer-events: auto;
}

.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23bfbfbf'/%3e%3c/svg%3e");
    border-color: var(--primary);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(95, 143, 139, 0.6);
}

.form-switch .form-check-input:focus:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}

.chrome-setting-checkbox {
    cursor: pointer;
}

.heart {
    height: 150px;
    width: 150px;
    background-image: url('../img/heart.png');
    background-repeat: no-repeat;
    background-size: 2900%;
    background-position: 96%;
    float: left;
    position: absolute;
    z-index: 99999;
    left: 35%;
    top: 35%;
}

.heart:hover {
    background-position: right;
}

.animating {
    animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}
