body {
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
    background: #333333;
    color: white;
}

.container {
    padding: 7px;
}

#website,
#settings {
    max-height: 460px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#website::-webkit-scrollbar,
#settings::-webkit-scrollbar {
    width: 3px;
}

#website::-webkit-scrollbar-track,
#settings::-webkit-scrollbar-track {
    background: none;
}

#website::-webkit-scrollbar-thumb,
#settings::-webkit-scrollbar-thumb {
    background-color: #fefefe;
    border-radius: 25px;
    border: none;
}

td,
th {
    text-align: center;
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid #000;
    color: white;
    cursor: default;
    text-align: center;
    font: 60px Arial, sans-serif;
    line-height: 180px;
    transition: 150ms all;

}

.circle:hover {
    border-radius: 50%;
    animation: circlepulse 300ms ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: 2;

}

@keyframes circlepulse {
    0% {
        transform: translate(0, 0%);
        border-radius: 50%;
    }

    25% {
        transform: scale(90%);
        background-color: 90%;
        border-radius: 50%;
        border-color: lightslategrey;
        border-width: 10px;
    }

    100% {
        transform: scale(110%);
        background-color: 100%;
        border-radius: 50%;
    }
}

.nav-tabs .nav-link.active {
    background-color: #5f8f8b;
    color: white;
    border: none;
    border-radius: 0px;
}

.nav-tabs .nav-link {
    color: white;
    background-color: #333333;
    border: none;
    border-radius: 0px;
}

.nav-tabs .nav-link:hover {
    background-color: #777777;
    color: white;
    border: none;
    border-radius: 0px;
}

.checkbox-center {
    margin-left: 40px;
}

.grade-a {
    background: #198754;
}

.grade-b {
    background: #79B752;
}

.grade-c {
    background: #FFC107;
}

.grade-d {
    background: #D66F2C;
}

.grade-e {
    background: #DC3545;
}

.grade-f {
    background: #363636;
}

#view-details {
    cursor: pointer;
    text-decoration: none;
}

#view-details:hover {
    text-decoration: none;
    color: #5f8f8b;
}